<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.codecore.ca">Codecore Team</a> by <a href="https://github.com/CodeCoreYVR/find_my_pet">Team</a>
    </small>
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Facebook", sign_in_with_facebook_path %></li>
        <li><%= link_to "Twitter", sign_in_with_twitter_path %></li>
      </ul>
  </footer>
<div>
